<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <%date = Date.today%>
        <p><%="The date is #{date.strftime("%A")}, #{date.strftime("%B")} #{date.day}, #{date.year}" %></p>
    </body>
</html>